/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

body{
    background-color: lightblue;
}
.container {
    padding: 15px 15px 5px 15px;
    margin: 25px auto;
    background-color: white;
    border-radius: 15px;
}